#StackPane {
    -fx-background-color: #bed8d7;
}

/* Buttons */
#changeUsernameButton,
#changePasswordButton,
#deleteAccountButton,
#backButton {
    -fx-background-color: #403f3f;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
}

#changeUsernameButton:hover,
#changePasswordButton:hover,
#deleteAccountButton:hover,
#backButton:hover {
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-text-fill: #403f3f;
}

/* TextFields & PasswordFields */
.text-field,
.password-field {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 5px;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255,255,255,0.7);
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: rgba(255,255,255,0.8);
}

/* Hide separators */
.separator {
    -fx-opacity: 0;
}
